/* Reset */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000 !important;
	color: #fff !important;
}

.main_list {
	background-color: #171e24;
}
#data_movie {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


/* like button color:#3b9d38 */